<div class="author-section">
    <hr class="author-hr">
    <div class="clickable-section" onclick="window.open('/authors/{{ page.author }}','_self')">
        <div class="left-section">
            <img class="author_image_small" src="https://cdn.zivost.com/pleb/pleb-authors/{{ page.author }}.jpeg" />
        </div>
        <div class="right-section">
            <div class="section-name">Written By</div>
            <div class="author-name">
                <h2>{{ page.author_name }}</h2>
            </div>
            <div class="author-username">
                <h2>{{ page.author }}</h2>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr class="author-hr">
</div>