<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.description }}">

  {% if page.thumb_image %}
    {% if page.thumb_image contains '://' %}
      <meta property="og:image" content="{{ page.thumb_image }}">
      <meta name="twitter:image" content="{{ page.thumb_image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
      <meta name="twitter:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
    {% endif %}
  {% else %}
    <meta property="og:image" content="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-180x180.png">
    <meta name="twitter:image" content="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-180x180.png">
  {% endif %}

  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/assets/css/pleb.css" rel="stylesheet">

  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}

  <link rel="stylesheet" type="text/css" title="light" id="light" href="{% asset light.css @path%}">
  <link rel="stylesheet" type="text/css" title="dark" id="dark" href="{% asset dark.css @path%}" disabled="true">
  
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://cdn.zivost.com/pleb/pleb-icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.zivost.com/pleb/pleb-icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.zivost.com/pleb/pleb-icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.zivost.com/pleb/pleb-icons/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="https://cdn.zivost.com/pleb/pleb-icons/apple-icon-180x180.png">
  <link rel="manifest" href="https://cdn.zivost.com/pleb/pleb-icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://cdn.zivost.com/pleb/pleb-icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
