<script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.3/retina.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js"></script>
{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

{% asset vendor.js %}

{% unless site.local_fonts %}
  {% asset webfonts.js %}
{% endunless %}

{% if site.scrollappear_enabled %}
  {% asset scrollappear.js %}
{% endif %}

{% asset application.js %}

{% if site.theme_toggle == true %}
  {% asset themetoggle.js %}
{% endif %}
<!-- <script type="text/javascript" src="/assets/js/pleb.js"></script> -->